/* You can add global styles to this file, and also import other style files */
html{
   background-color: slateblue;
   font-size: 10px; /*or font-size: 62.5%; are equal to 10px=1rem */
}

@media screen and (max-width: 600px){
   html{
      font-size: 8px;
   }
}